h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(66, 62, 5);
}
div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    height: 500px;
    width: 25%;
    object-fit: cover;
}
body {
    background-image: url(https://images.unsplash.com/photo-1658580768573-88f1e4c98aca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80);
}
